@font-face {
  font-family: "Cascadia";
  src: url('../Cascadia.ttf');
}

body {
  background: #354057 !important;
  color: #fff;
  padding: 30px;
}

.container {
  display: block;
  width: 700px;
  margin: 10px auto 0;
  background-color: #354057;
  border-radius: 5px;
}

/* ul {
  margin: 0;
  padding: 0;
} */

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}


h3,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;

  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  margin-left: 20px;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
  text-align: center;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  /* text-transform: uppercase; */
}

input#new-task {
  float: left;
  width: 355px;
  margin-right: 50px;
}

p>button:hover {
  color: #0fc57c;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
}

li>input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li>label {
  font-size: 18px;
  line-height: 40px;
  width: 100px;
  padding: 0 0 0 11px;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #fff;
}

.btn {
  display: inline-block;
  box-shadow: none;
  border: 0;
  outline: 0;
  background-color: #00f0a8;
  height: 45px;
  line-height: 42px;
  padding: 0 30px;
  font-size: 20px;
  border-radius: 30px;
  color: #282d32;
}

.btn:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.btn:active {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}


.labelColor {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  /* font-size: 20px; */
}


/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}

/**
* Quand la tache est terminer
*/
ul li.ClassFinish label{
  text-decoration: line-through;
  color: #95a5a6;
  font-size: 20px;
  text-align: center;
}

/**
* Bouton Edit lors de l'ajout.
*/
.buttonDelete {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 15%;
  margin-left: 20px;
}

.buttonDelete:hover {
  background-color: #B24449;
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

}
.buttonDeleteleft{
  float: none;
  background-color: #B24449;
  border: none;
  color: white;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 12px;
  margin-right: 15px;
}

.buttonEdit {
  background-color: #27ae60;
  border: none;
  color: white;
  padding: 15px 16px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;

  font-size: 12px;
  border-radius: 15%;
}

.buttonEdit:hover {
  background-color: rgb(103, 231, 126);
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}


/* h3 {
  color: #00c4cc;
  font-size: 20px;
  margin-top: 20px;
  border-bottom: 30px;
  border-bottom-color: #fff;
  font-family: 'Courier New', Courier, monospace;
} */

.TitleStartedFinished{
  color: #fed330;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 20px;
}